body {
    font-family: 'Merriweather', serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 18px;
}

.orange {
    color: orangered;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {

    width: 50%;
    margin-top: 1%;
    padding-left: 3%;
}

.half-width img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 10px;
}

.top-banner {
    background-image: url(my-picture/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(my-picture/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 10px;
    box-shadow: 10px 10px 40px olivedrab;


}

.experience-area {
    background-image: url(my-picture/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack-dev {
    border-left: 7px solid tomato;
}

#baby-stack-dev {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}