body {
    font-family: 'Merriweather', serif;
    margin: 0px;
}

h1 {
    font size: 50%;
}

p {
    font-size: 18px;
}

.orange {
    color: orangered;
}

section {
    display: flex;
}

.half-width {

    width: 50%;
    margin-top: 1%;
    padding-left: 3%;
}

.half-width img {
    width: 60%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 10px;
}

.top-banner {
    background-image: url(my-picture/top-banner.png);
    background-repeat: no-repeat;
}